
        /* 
           ==============================
           Bangladesh National Flag Design
           ==============================
           - Flag ratio: 10 (width) : 6 (height)
           - Background: Dark green (#006747)
           - Red circle: Center at 9/20 of flag length from hoist side
            Diameter = 2/5 of flag length
        */
        .flag{
            width: 900px;
            height: 540px;
            background-color: #006747;
            position: absolute;
        }
        .flag > div {
            width: 360px;
            height: 360px;
            background-color: #DA291C;
            border-radius: 50%;
            position: relative;
            top: 90px;
            left: 225px;
            
        }
